footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}

.image{
	min-height: 100%;
	min-width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background: center fixed;
}
body{
	overflow-x: hidden; 
}